@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}



:root{
  --wrong:rgba(250, 151, 114, 0.376);
  --correct:rgba(111, 238, 111, 0.376);
  --wrong-text:rgb(255, 49, 34);
  --correct-text:rgb(4, 105, 4);
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h3{
  font-size: 30px;
  text-transform:uppercase ;
}

.form-checkbox{
  display: block;
  user-select: none;
}

.input-checkbox input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  border:2px solid #342168;
}

.input-checkbox label{
  font-size: 20px;
  margin-left: 12px;
  font-weight: 600;
}


.input-checkbox{
  display: flex;
  align-items: center;
  margin: 20px 0;
}


.input-checkbox input[type="checkbox"]:checked::before{
  font-weight: 700;
  font-size: 26px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrong-checkbox input[type="checkbox"]:checked{
  background-color: var(--wrong);
  border: 2px solid var(--wrong);
}

.correct-checkbox input[type="checkbox"]:checked{
  background-color: var(--correct);
  border: 2px solid var(--correct);
}


.wrong-checkbox input[type="checkbox"]:checked::before{
  content: '\2715';
  color: var(--wrong-text);
}

.correct-checkbox input[type="checkbox"]:checked::before{
  content: '\2713';
  color:var(--correct-text);
}

.correct-checkbox input[type="checkbox"]:checked+label{
  color:var(--correct-text);
}


.wrong-checkbox input[type="checkbox"]:checked+label{
  color:var(--wrong-text);
}