@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: white;
}

.logo{
    font-size: 20px;
    font-weight: 500;
    margin: 8px;
}
 
.nav-link ul{
    display: flex;

}

.nav-link ul li{
    list-style: none;
}

.nav-link ul li a{
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
}

.nav-link ul li:hover{
    background-color: #34495e;
}

.btn{
    /* background-color: red; */
    position: absolute;
    top: 16px;
    right: 16px;
    height: 22px;
    width: 30px;
    /* span is inside in anchor tag, therfore they act as blocl level element, so us flx properties */
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: white;
}

@media (max-width:600px) {
    .btn{
        display: flex;
    }

    .nav-link{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start ;
    }

    .nav-link ul{
        flex-direction: column;
        width: 100%;
    }

    .nav-link ul li{
        text-align: center;
    }

    .nav-link.active{
        display: flex;
    }
}

